{% extends "base.html" %}

{% block title %}PNW25 - HydroAgriNexus{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h1 class="mb-4">Pacific Northwest Water Summit</h1>
    <!-- <p class="lead">Explore our research and soil water balance simulation model.</p> -->

    <!-- Research Poster Section -->
    <div class="mt-5">
        <h3>Research Poster</h3>
        <p>Click on poster to view and download.</p>
        <a href="../static/images/pnw_ws24.png" target="_blank">
            <img src="../static/images/pnw_ws24.png" alt="PNW25 Poster" class="img-fluid shadow-lg" style="max-width: 80%; height: auto; border-radius: 8px;">
        </a>
    </div>

        <!-- Simulation Link Section -->
    <div class="mt-4">
        <h3>Run the Soil Water Balance Simulation</h3>
        <p>
            Try out the <strong>FAO-56 soil water balance model</strong> for simulating soil water balance.
        </p>
        <a href="https://swb.hydroagrinexus.com/" target="_blank" class="btn btn-primary btn-lg">
            <i class="fas fa-play-circle"></i> Launch Simulation
        </a>
    </div>
</div>

{% endblock %}
