{% extends "base.html" %}

{% block title %}WQW - HydroAgriNexus{% endblock %}

{% block content %}
<h1>Idaho Water Quality Workshop</h1>
<p>Download the poster or run the soil water balance simulation</p>
<ul>
    <li><a href="https://dinesh933.pythonanywhere.com/approach2_params">NRCS CPS based SWB model</a></li>
    <li><a href="../static/images/poster.png" target="_blank"><img src="../static/images/poster.png" alt="IWQW poster" style="max-width: 100%; height: auto;"></a></li>

</ul>
{% endblock %}
